
.nav-link {
    position: relative;
    transition: 0.3s;
    color: #1B263B;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #C97B63;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 100px;
}